.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 24px;
  min-height: 25px;
  max-height: 100px
}

.logo {
  font-family: var(--bold-font);
  font-size: 100px;
}

a {
  text-decoration: none;
  color: white;
  padding: 12px;
}

.pages {
  display: flex;
  font-family: var(--bold-font);
  font-size: 20px;
}