.content {
  display: flex;
  flex: 1;
  background-color: black;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.45s, color 0.45s;
}

.content:hover {
  background-color: white; 
  color: black; 
}

.title {
  font-family: var(--bold-font);
  font-weight: 600;
  font-size: 100px;
  min-height: 100%;
  /* max-height: 50px; */
  margin: 24px;
  padding: 24px;
}

.subtitle {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 50px;
  margin: 24px;
  padding: 24px;
}

.intro {
  font-family: var(--italic-font);
  font-weight: 800;
}

.areYou {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-family: var(--primary-font);
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px;
  margin: 12px;
  transition: background-color 0.45s, color 0.45s, transform 0.6s;
}

.circles {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content:hover .circle {
  background-color: black;
  color: white;

}

.circle:hover {
  transform: scale(1.1);
}