.content {
  display: flex;
  flex: 1;
  background-color: black;
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 100px;
}

.subtitle {
  font-family: var(--primary-font);
  font-weight: 300;
  font-size: 50px;
}