@font-face {
  font-family: 'primary font';
  src: url('./components/fonts/silkamono-regular-webfont.ttf');
}

:root {
  --primary-color: #a46bea;
  --primary-font: 'primary font';
}

::-webkit-scrollbar {
  display: none;
}